<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC+Mybatis:war exploded">
    <output-path>$PROJECT_DIR$</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC+Mybatis" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC+Mybatis/web/Web" />
    </root>
  </artifact>
</component>